:root {
    --border-type: 2px rgb(47, 180, 47) double;
    --color-type: rgb(47, 180, 47);
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: .7rem;
    color: var(--color-type);
    background-color: black;
    /* height:10vh; */
}

h1 {
    display: inline;
    font-family: 'Dot Matrix', sans-serif;
    text-align: end;
    margin-right: 0.03125rem;
    white-space: nowrap;
    color: green;
    position: absolute;
    top: 0.6875rem;
    right: 0;
    z-index: 998;
    margin-right:0.625rem;
}

header {
    padding-bottom: 1rem;
    top: 0;
    background-color: black;
    position: absolute;
    width: 100%;
    z-index: 999;
    color: var(--color-type);
    position: fixed;
}

nav {
    box-shadow: inset 0 0 0.46875rem rgba(0, 128, 0, 0.527);
    font-family: 'Dot Matrix';
    border-top: var(--border-type);
    border-bottom: var(--border-type);
    width: 100%;
    text-align: left;
    margin-top: 4rem;
    transform: translateY(-100%);
    background-color: rgba(41, 40, 40);
    transition: transform 1s ease-in-out;
    z-index: 900;
    position: fixed;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav li {
    padding: 0.3125rem 0.625rem;
    margin-left: 0.625rem;
    font-size: 1.5rem;
    list-style: none;
}

.nav-a {
   cursor: pointer;
    opacity: 0;
    font-size: .7rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--color-type);
}

.nav-a:hover {
    transition: ease-in-out .4s !important;
    padding-top:.1em;
    padding-left:.1em;
    animation: blink-animation 2.5s steps(5, start) infinite;
        -webkit-animation: blink-animation 1s steps(50, start) infinite;
    box-shadow: inset 0 0 45px rgb(38, 185, 25);
    color: greenyellow !important;
}
main{
    padding-top: 6rem;
}
#content {
    width: 100%;
    text-align: center;
    z-index: 90;
}
.mid-content{
    padding:1rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
    list-style: none;
    font-size: 20px;
}
.mid-content li {
    margin-bottom: 20px;
    font-size: 12px;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 0.03125rem solid green;
    padding: 0.625rem;
    text-align: center;
}

#links th {
    background-color: black;
}

#links td {
    background-color: green;
}

#links td a {
    color: black;
    text-decoration: none;
}

#links td a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 1.25rem;
    background-color: black;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

footer p {
    margin: 0;
}

@keyframes blink-animation {
    to {
        box-shadow: none;
    }
}

@-webkit-keyframes blink-animation {
    to {
        box-shadow: none;
    }
}


.ham {
    display: none;
    z-index: 998;
}

.toggle {
    border: 0.03125rem solid green;
    margin-top: 0.9375rem;
    margin-left: 0.625rem;
    overflow: hidden;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(0, 0, 0);
    border-radius: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all cubic-bezier(.79,.14,.15,.86) .3s;
}

.toggle:hover {
    box-shadow: inset 0 0 20px green;
}

.toggle span {
    transition: all ease-in-out .6s;
    position: absolute;
    width: 1.875rem;
    height: 0.25rem;
    background-color: rgb(0, 0, 0);
    border-radius: 0.625rem;
    border: 0.03125rem solid green;
}

.toggle span:nth-child(1) {
    transform: translateY(-0.625rem);
    width: 1.5625rem;
}

.toggle span:nth-child(2) {
    transform: translateY(0.6875rem);
    width: 1.5625rem;
}

.main_container {
    width: 100%;
    height: 70vh;
    display: grid;
    margin-top: 4.375rem;
}

@media screen and (min-width: 43.75rem) {
    h1 {
        top: 4%;
    }

    .ham-label {
        display: none;
    }

    header {
        position: static;
        height: 20vh;
        top: 0;
    }

    nav {
        top: -4%;
        box-shadow: none;
        width: 50%;
        position: absolute;
        border: none;
        background-color: rgb(0, 0, 0);
        color: green;
        z-index: 999;
    }

    nav ul {
        margin: 0;
        flex-direction: row;
        position: relative;
        z-index: 1001;
    }

    nav li {
        margin: 0;
    }

    nav a {
        opacity: 1;
    }
}
