:root{
      --border-type:5px rgb(47, 180, 47) double;
      --color-type: rgb(47, 180, 47);
}
*, *::before, *::after{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
/* html{
    position: relative;
    height:100vh;
    margin:0;
    padding:0;
    background-color: black;
} */
body{
    margin: 0;
    padding: 0;
}
h1{
    display: inline;
    font-family: 'Dot Matrix', sans-serif;
    text-align: end;
    margin-right:.5em;
    white-space: nowrap;
    color:green;
    position: absolute; 
    top: 11%;
    right: 0;
    z-index: 998;
}
header{
    padding-bottom:1rem;
    top:0;
    background-color: black;
position: absolute;
    width:100%;
    z-index:999;
    border-bottom: var(--border-type);
    box-shadow: 0 0 30px green;
    height: 13vh;
}
h3{
    color: var(--color-type);
    margin-top: 10em;
}
p{
    color: white;
}
.main_img{
    width:20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.head_container{
    z-index:999;
    
}
nav{
    box-shadow: inset 0 0 15px rgba(0, 128, 0, 0.527);
    font-family: 'Dot Matrix';
    border-top:var(--border-type);
    border-bottom:var(--border-type);
    width:100%;
    /* position: absolute; */
    /* position: relative; */
    text-align: left;
    margin-top:12vh;
    /* top:100%;
    left:0; */
    transform:translateY(-100%);
    background-color:rgba(41, 40, 40);
    transition: transform 1s ease-in-out;
    z-index:90;
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    color: var(--color-type);
    
}
nav li{
    padding:.5em;
    margin-left: 1em;
    font-size:1.5rem;
}
nav a{
    color: var(--color-type);
    cursor: pointer;
    opacity: 0;
        transition: ease-in-out .9s;
    font-size: .7em;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    padding-top:.1em;
    padding-left:.1em;
    animation: blink-animation 2.5s steps(5, start) infinite;
        -webkit-animation: blink-animation 1s steps(50, start) infinite;
    box-shadow: inset 0 0 45px rgb(38, 185, 25);
    color: greenyellow;
}
@keyframes blink-animation {
        to {
          box-shadow: none;
        }
      }
      @-webkit-keyframes blink-animation {
        to {
          box-shadow: none;
        }
      }
.ham{
 display: none;
 z-index: 998;
}

/* ---Hamburger Animation-- */

.toggle{
    border: 1px solid green;
    margin-top:1.5em;
    margin-left:1em;
    overflow: hidden;
    position: relative;
    width:40px;
    height:40px;
    background-color: rgb(0, 0, 0);
    
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all cubic-bezier(.79,.14,.15,.86) .3s;
}
.toggle:hover{
    box-shadow: inset 0 0 20px green;
}
.toggle span{
     transition: all ease-in-out .6s;
    position: absolute;
    width:30px;
    height:4px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    border:.5px solid green;
}
.toggle span:nth-child(1){
    transform: translateY(-10px);
    width:25px;

}
.toggle span:nth-child(2){
    transform: translateY(11px);
    width:25px;
    
}
.toggle.active span:nth-child(1){
    width:40px;
    transform: translateY(0px) rotate(45deg);
}
.toggle.active span:nth-child(2){
    width:40px;
    transform: translateY(0px) rotate(315deg);
}
.toggle.active span:nth-child(3){
    transform: translateX(60px);
}
/* Main  */

.main_container{
    width: 100%;
    height: 70vh;
    display: grid;
    margin-top: 70px;
}


@media screen and (min-width:700px){
   h1{
    display: inline;
    float: right;
   }
  .ham-label{
    display: none;
}
nav{
    box-shadow: none;
    transform: translateY(0);
    margin-top:0.65em;
    width:50%;
    position: relative;
    border: none;
    background-color: rgb(0, 0, 0);
    z-index: 999;
}
nav ul{
    padding:.5em;
    margin:0;
    flex-direction: row;
    position: relative;
    z-index: 1001;
}
nav li{
    margin:0;
}
nav a{
    opacity: 1;
}

  
}
    
