:root {
    --border-type: 2px double #00FF00;
    --color-type: #00FF00;
    --background-color: black;
    --primary-text-color: var(--color-type);
    --secondary-text-color: white;
    --link-color: #00FF00;
    --link-hover-color: greenyellow;
    --shadow-effect: rgba(0, 255, 0, 0.1);
    --light-grey: #1a1a1a;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 255, 0, 0.1);
}

body {
    font-size: 1.25rem;
    color: var(--primary-text-color);
    background-color: var(--background-color);
    font-family: 'Roboto Mono', monospace;
}

h1 {
    display: inline;
    font-family: 'Dot Matrix';
    text-align: end;
    margin-right: 1.8rem;
    white-space: nowrap;
    color: var(--primary-text-color);
    position: absolute;
    top: 1.5rem;
    right: 0;
    z-index: 998;
    margin-right: 1.5rem;
}

h2 {
    margin: 1rem;
    font-family: 'Orbitron', sans-serif;
}
h2 span{
    cursor: pointer;
}
h2 span:hover{
    color:var(--link-hover-color);
}
.toggle-container {
    position: relative;
    width: 44px;
    height: 20px;
    margin:.5rem;
    border: var(--border-type);
}

.toggle-track {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 4px;
    background-color: var(--background-color);
}

.toggle-handle {
    position: absolute;
    left: 0;
    width: 20px;
    height: 17px;
    background-color: var(--color-type);
    border: var(--border-type);
    /* border-radius: 50%; */
    transition: transform 0.3s ease;
}

.toggle-container.active .toggle-handle {
    transform: translateX(100%);
}
header {
    padding-bottom: 9rem;
    background-color: var(--background-color);
    position: relative;
    width: 100%;
    z-index: 999;
    color: var(--primary-text-color);
    height: 15vh;
}

.head_container {
    z-index: 999;
    width: 100%;
    position: absolute;
    background-color: var(--background-color);
}

/* Navigation bar */
.slide-from-right {
    transform: translateX(0);
    border-bottom: var(--border-type);
    /* box-shadow: 0 0 20px 5px var(--color-type); */
}

nav {
    box-shadow: inset 0 0 0.46875rem var(--color-type);
    font-family: 'Dot Matrix';
    border-top: var(--border-type);
    border-bottom: var(--border-type);
    width: 100%;
    text-align: left;
    transform: translateY(-105%);
    transition: transform 1s ease-in-out;
    z-index: 900;
    position: absolute;
    padding: 1rem;
    overflow: hidden;
    color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light-grey);
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav li {
    padding: 0.9rem 0.9rem;
    list-style: none;
    width: 90vw;
    margin-top: 0.5rem;

    background-color: var(--background-color);
    transform: translateX(200%);
    transition: transform 1s ease-in-out;
}

nav a {
    text-decoration: none;
    color: var(--link-color);
}

.nav-a {
    cursor: pointer;
    opacity: 0;
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-text-color);
}

.nav-a:hover {
    transition: ease-in-out 0.4s !important;
    padding-top: 0.1em;
    padding-left: 0.1em;
    animation: blink-animation 2.5s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(50, start) infinite;
    box-shadow: inset 0 0 45px var(--color-type);
    color: var(--link-hover-color) !important;
}

main {
    height: auto;
    overflow-y: auto;
}
footer h3 {
    color: var(--color-type);
    display: inline-block;
    font-size: 15px;
    max-width: 170px;
}
.toggleContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin:1rem;
}
.about-section {
    width: 80%;
    max-width: 800px;
    padding: 14px;
    display: block;
    margin: auto;
    margin-top: 2rem;
}

.about-section h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}

.about-section p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: var(--secondary-text-color);
}

.about-section .matrix-button {
    display: block;
    border: 1px solid var(--link-color);
    color: var(--link-color);
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin: auto;
    transition: 0.3s;
    background-color: var(--background-color);
    width: 50%;
    min-width: 180px;
    max-width: 180px;
}

.about-section .matrix-button:hover {
    background-color: var(--link-color);
    color: var(--background-color);
    box-shadow: 0 0 20px 5px var(--color-type);
}

#content {
    width: 100%;
    text-align: center;
    z-index: 90;
}

#content p {
    font-size: 0.8rem;
    color: var(--secondary-text-color);
    padding: 0.5rem;
    max-width: 300px;
    width: 100%;
    display: block;
    margin: auto;
}

.mid-content {
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    list-style: none;
    font-size: 20px;
}

.mid-content li {
    margin-bottom: 20px;
    font-size: 12px;
}

.tableHead {
    width: 75vw;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 20px;
    border: 1px solid var(--link-color);
    font-size: 0.7rem;
    box-shadow: 0 0 20px 5px var(--color-type);
}

.tableLinks {
    box-shadow: 0 0 20px 5px var(--color-type);
    margin: 0 auto;
    padding: 20px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--link-color);
    overflow: auto;
    min-width: 0;
}

.tableLinks span {
    cursor: pointer;
    color: var(--primary-text-color);
    transition: all 0.3s ease;
}

.tableLinks span:hover {
    color: var(--link-hover-color);
}
#scrollToTop{
    cursor: pointer;
    display: inline-block;
    vertical-align: top; 
    margin-top: 3.9rem;
    display: inline-block;
    width: 16px; 
    height: 16px; 
    border-radius: 50%; 
    background-color: var(--background-color); 
    border: 1px solid var(--link-color);
    color: var(--link-color); 
    font-size: 1.3rem; 
    text-align: center;
    line-height: 19.89px; 
    cursor: pointer;
}
#tableHeading{
    display: inline-block;
    vertical-align: top;
    margin-top:3rem;
}
table {
    width: 100%;
    border-collapse: collapse;
    max-width: 1300px ;
    margin: auto;
    /* display: block; */
}

th,
td {
    border: 0.03125rem solid var(--link-color);
    padding: 0.625rem;
    text-align: center;
    
}

#links {
    padding-left: 1rem;
    padding-right: 1rem;
}

#links th {
    background-color: var(--background-color);
    color: var(--secondary-text-color);
}

#links td {
    background-color: var(--background-color);
    color: var(--secondary-text-color);
}

#links td a {
    color: var(--secondary-text-color);
    text-decoration: none;
}

#links td a:hover {
    text-decoration: underline;
    color: var(--link-hover-color);
}

/* About page start */
.about-page {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

.about-page h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.about-page p {
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: var(--secondary-text-color);
}

.about-page a {
    text-decoration: none;
    /*color:#00FF00;*/
    /*border-bottom: 1px dotted #00FF00;*/
}

.aboutLink:hover {
    color: var(--link-hover-color);
}

.aboutLink {
    color: var(--color-type);
}

.resume-button {
    background-color: var(--background-color);
    color: var(--link-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
    border: var(--border-type);
}

.resume-button:hover {
    background-color: var(--link-color);
    color: var(--background-color);
    box-shadow: 0 0 20px 5px rgba(0, 255, 0, 0.5);
}

/* About page end */
footer {
    text-align: center;
    padding: 1.25rem;
    background-color: var(--background-color);
    /*position: fixed;*/
    width: 100%;
    left: 0;
    bottom: 0;
    margin-top: 3rem;
}

footer p {
    margin: 0;
}

@keyframes blink-animation {
    to {
        box-shadow: none;
    }
}

@-webkit-keyframes blink-animation {
    to {
        box-shadow: none;
    }
}

.ham {
    display: none;
    z-index: 998;
}

.toggle {
    border: 0.08rem solid var(--color-type);
    /*margin-top: 0.9375rem;*/
    /*margin-left: 0.625rem;*/
    overflow: hidden;
    position: absolute;
    top: 2.4rem;
    left: 0;
    z-index: 999;
    margin-left: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    /* background-color: rgb(0, 0, 0); */
    border-radius: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all cubic-bezier(.79, .14, .15, .86) .3s;
}

.toggle:hover {
    box-shadow: inset 0 0 20px var(--color-type);
}

.toggle span {
    transition: all ease-in-out .6s;
    position: absolute;
    width: 1.875rem;
    height: 0.25rem;
    /* background-color: rgb(0, 0, 0); */
    border-radius: 0.625rem;
    border: 0.04rem solid var(--color-type);
}

.toggle span:nth-child(1) {
    transform: translateY(-0.625rem);
    width: 1.5625rem;
}

.toggle span:nth-child(2) {
    transform: translateY(0.6875rem);
    width: 1.5625rem;
}

.main_container {
    width: 100%;
    height: 70vh;
    display: grid;
    margin-top: 4.375rem;
}
.contactOutter{
    height:100vh;
    width:100%;
                    display:flex;
                align-items:center;
                flex-direction:column;
                justify-content:center;
}
        form {
            
            background-color: #fff;
            padding: 4rem;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width:400px;
            background-color:var(--background-color);

                /*margin-bottom:2rem;*/
                /*margin-top:2rem;*/
                position:absolute;
                /*top: 65%;*/
                /*left: 50%;*/
                /*transform: translate(-50%, -50%);*/
        }
form h2{
    font-size:25px;
}
        label {
            display: block;
            margin-bottom: 8px;
            color: var(--color-type);
            font-size:1rem;
        }

        input, textarea, button {
            width: 100%;
            padding: 10px;
            margin-bottom: 16px;
            box-sizing: border-box;
            border: var(--border-type);
            border-radius: 4px;
            font-size: 14px;
    
            	background-color: var(--background-color);
            	color:var(--color-type);
            	outline: none;
        }
input:focus {
    border-color: var(--link-hover-color);
box-shadow: 0 0 20px 5px var(--shadow-effect);
}
        textarea {
            resize: vertical;
            
        }

        button {
            background-color: var(--background-color);
        
            cursor: pointer;
            	border:var(--color-type) solid 2px;
            		color:var(--link-hover-color);
        }

        button:hover {
       background-color: var(--color-type);
    color:black;
    box-shadow: 0 0 20px 5px var(--shadow-effect);
        }
        @media screen and (min-width: 43.75rem) {
            form{
                margin-top:7rem;
            }
        }
        @media screen and (min-width: 800px) {
    .contactOutter{
    height:50vh;
    }
}
@media screen and (min-width: 800px) {
    .contactOutter{
    height:50vh;
    }
    h1 {
        top: 4%;
        margin-top: 2rem;
    }

    .ham-label {
        display: none;
    }

    header {
        position: static;
        height: 20vh;
        top: 0;
    }

    nav {
        top: 0%;
        box-shadow: none;
        width: 50%;
        position: absolute;
        border: none;
        color: var(--color-type);
        z-index: 9;
        margin-top: 6rem;
        display: block;
        background-color: var(--background-color);
    }

    nav ul {
        margin: 0;
        flex-direction: row;
        z-index: 1001;
        display: flex;
        gap: 1.5rem;
    }

     nav ul li {
        margin: 0;
        display: inline-block;
        width: auto;
        background-color: var(--background-color);
        transform: translateX(0%);
    }

    .nav-a {
        opacity: 1;
    }

    nav a {
        opacity: 1;
        font-size: 20px;
    }

    main {
        padding-top: 2rem;
    }

    footer {
        margin-top: 6rem;
        position: relative;
    }
}

